-
  const itemsTariff = {
    tabsId: '1',
    tabsItems: [
      {
        name: 'До вылета в Израиль',
        sliderItems: [
          {
            name: 'Бесплатная консультация',
            text: `
              <p>Выясняем, стоит ли проходить диагностику.</p>
              <p class="mb-0">Всегда говорим правду, а не «выкачиваем» деньги из клиента</p>
            `,
            labelItems: [],
          },
          {
            name: 'Заочная диагностика',
            text: `
              <p>Несколько врачей изучают вашу историю болезни.</p>
              <p class="mb-0">Получаем одинаковый диагноз из разных клиник</p>
            `,
            labelItems: [
              'в течение 3 рабочих дней',
            ],
          },
          {
            name: 'План лечения',
            text: `
              <p>Предлагаем план лечения от нескольких клиник, которые готовы вам помочь.</p>
              <p class="mb-0">Чтобы вам было легче принять решение, даем полную информацию о лечении и клиниках, плюсы и минусы терапии</p>
            `,
            labelItems: [],
          },
          {
            name: 'Договор',
            text: `
              <p>Рассчитываем стоимостьи подписываем договор.</p>
              <p class="mb-0">Вы вносите предоплату. Деньги пойдут в больницу на первый взнос и бронирование жилья</p>
            `,
            labelItems: [],
          },
          {
            name: 'Оформляем документы',
            text: `
              <p class="mb-0">Готовим документы для вылета в Израиль и для лечения</p>
            `,
            labelItems: [
              'Вы можете вылететь буквально<br>на следующий день',
            ],
          },
          {
            name: 'План лечения',
            text: `
              <p>Предлагаем план лечения от нескольких клиник, которые готовы вам помочь.</p>
              <p class="mb-0">Чтобы вам было легче принять решение, даем полную информацию о лечении и клиниках, плюсы и минусы терапии</p>
            `,
            labelItems: [],
          },
          {
            name: 'Договор',
            text: `
              <p>Рассчитываем стоимостьи подписываем договор.</p>
              <p class="mb-0">Вы вносите предоплату. Деньги пойдут в больницу на первый взнос и бронирование жилья</p>
            `,
            labelItems: [],
          },
        ],
      },
      {
        name: 'В Израиле и после лечения',
        sliderItems: [
          {
            name: 'Бесплатная консультация',
            text: `
              <p>Выясняем, стоит ли проходить диагностику.</p>
              <p class="mb-0">Всегда говорим правду, а не «выкачиваем» деньги из клиента</p>
            `,
            labelItems: [],
          },
          {
            name: 'Заочная диагностика',
            text: `
              <p>Несколько врачей изучают вашу историю болезни.</p>
              <p class="mb-0">Получаем одинаковый диагноз из разных клиник</p>
            `,
            labelItems: [
              'в течение 3 рабочих дней',
            ],
          },
          {
            name: 'План лечения',
            text: `
              <p>Предлагаем план лечения от нескольких клиник, которые готовы вам помочь.</p>
              <p class="mb-0">Чтобы вам было легче принять решение, даем полную информацию о лечении и клиниках, плюсы и минусы терапии</p>
            `,
            labelItems: [],
          },
          {
            name: 'Договор',
            text: `
              <p>Рассчитываем стоимостьи подписываем договор.</p>
              <p class="mb-0">Вы вносите предоплату. Деньги пойдут в больницу на первый взнос и бронирование жилья</p>
            `,
            labelItems: [],
          },
        ],
      },
    ],
  };

section.my-5.py-5 
  .container 
    h2.mb-5
      | Компания Medical ture: за 2-4 дня организуем 
      br 
      | лечение «под ключ»

    .row.justify-content-between.align-items-center.mb-5
      .col-xl-9 
        - const tabsItem = itemsTariff.tabsItems.map(item => item.name);
        +tabs({
          tabsId: itemsTariff.tabsId,
          items: tabsItem,
        })

      .col-xl-auto
        +sliderNav({
          sliderId: '3',
        })

    each val, i in itemsTariff.tabsItems
      .tab-block(
        class= (i) ? 'd-none' : '',
        data-tabs-id= `${itemsTariff.tabsId}`,
        id= `tabs-block-${itemsTariff.tabsId}-${i}`
      )
        +slider3({
          sliderId: 3,
        })
          each item, j in val.sliderItems
            +block({
              size: 'small',
            }).d-flex.flex-column.justify-content-between
              div
                .row.mb-4
                  .col-xl
                    .h4= item.name

                  .col-xl-auto
                    .slider-number= String(j + 1).padStart(2, '0')

                != item.text

              div.mt-3
                each label in item.labelItems
                  +label({
                    text: label,
                    color: 'blue',
                  })
