-
  const itemsQuestions = {
    tabsFormId: 2,
  };

section.questions
  .container
    .row.justify-content-end
      .col-xl-7
        .row
          h2.mb-5 Задайте свой вопрос

          +form({})
            .mb-4
              +textarea({
                label: 'Напишите ваш вопрос',
                name: 'question',
                placeholder: 'Например: Какую клинику лучше выбрать для реабилитации после инсульта?',
                required: true,
              }).text-medium

            .text-medium.mb-3 Куда прислать ответ?

            +tabsForm({
              tabsId: itemsQuestions.tabsFormId,
              items: [
                'SMS',
                'WhatsApp',
                'E-mail',
              ],
            }).text-medium

            +block({})
              .row 
                .col-xl-6.mb-2
                  .tab-block(
                    id= `tabs-block-${itemsQuestions.tabsFormId}-0`
                    data-tabs-id= `${itemsQuestions.tabsFormId}`
                  )
                    +input({
                      label: 'Введите телефон',
                      name: 'phone',
                      placeholder: '+7 (___) ___-__-__',
                      type: 'tel',
                      required: true,
                    }).text-medium

                  .tab-block.d-none(
                    id= `tabs-block-${itemsQuestions.tabsFormId}-1`
                    data-tabs-id= `${itemsQuestions.tabsFormId}`
                  )
                    +input({
                      label: 'Введите телефон',
                      name: 'whatsapp',
                      placeholder: '+7 (___) ___-__-__',
                      type: 'tel',
                      required: true,
                      disabled: true,
                    }).text-medium

                  .tab-block.d-none(
                    id= `tabs-block-${itemsQuestions.tabsFormId}-2`
                    data-tabs-id= `${itemsQuestions.tabsFormId}`
                  )
                    +input({
                      label: 'Введите e-mail',
                      name: 'whatsapp',
                      placeholder: '___@__.__',
                      type: 'email',
                      required: true,
                      disabled: true,
                    }).text-medium

                .col-xl-6.mb-2.align-self-end
                  +btn({
                    name: 'Задать вопрос',
                    size: '',
                    color: '',
                  }).w-100.mb-4

                .col-12
                  +consent({
                    text: `
                      Нажимая на кнопку, вы даете согласие на обработку своих персональных данных и соглашаетесь
                      с <a href="#">Политикой конфиденциальности</a>
                      `
                  })
    
  .questions__img
    img(
      src= emptyImg,
      data-src= require('@img/image-19.jpg'),
      alt="questions"
    ).lazyload